{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
	  <script src="{% static 'js/myapp.js' %}"></script>
    <title>my SPOT</title>
  </head>
  <body>
    <header>
      <div class="title">
        mySPOT<span style='font-size:50px;'>&#128664;</span>
      </div>
      <div align="right" width="100%">
        {%if request.user.is_authenticated %}
  			<span>Hi {{ request.user.username | title }}</span>
  			<a href="{% url 'logout' %}" class="light-blue-button">Logout</a>
  		{%else%}
            <a href="{% url 'login' %}" class="light-blue-button">Log In</a>
            <a href="{% url 'register' %}" class="light-blue-button">Register</a>
  		{%endif%}
      </div>
    </header>
  	<main>
	  	{% if messages %}
			<div class="messages">
			{% for message in messages %}
				<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
					{{ message }}
				</div>
			{% endfor %}
			</div>
		{% endif %}

	    {%block content%}
	    {%endblock content%}
  	</main>

  </body>
</html>